:host
  .stepper--header
    text-align left
    display flex
    align-items stretch
    justify-content space-between
    box-shadow 0 1px 6px 0 rgba(32,33,36,0.28)
    margin -8px
    padding 10px 8px
    margin-bottom 0
    width calc(100% - 16px)
    position fixed
    background-color #fff
    z-index 99
    &:before
      content ' '
      position absolute
      left 5%
      top 50%
      height 1px
      width 90%
      background-color #ccc
    &.non-sticky
      @media (min-width 768px)
        width auto
        position relative
        padding 15px
        margin-bottom 20px
    .step--divider
      display block
      flex 1 1 0
      height 0
      max-height 0
      border solid
      border-width thin 0 0
      border-color rgba(0, 0, 0, .3)
      align-self center
      margin 0 15px
    .step
      vertical-align middle
      height 40px
      background-color #fff
      line-height @height
      white-space nowrap
      position relative
      padding 0 8px
      .step--number
        position relative
        display inline-block
        width 40px
        height 40px
        border-radius 50%
        color #fff
        text-indent 15px
        font-size 1rem
        margin-right 1px
        background-color rgba(0, 0, 0, .38)

      &.step--active
        .step--number
          background-color #1976d2

      .step--title
        display none
        font-size 1rem
        margin-left 10px
        @media (min-width 512px)
          display inline-block

  .stepper--content
    padding-top 60px
    margin-bottom 87px
    max-width 100%
    &.non-sticky
      @media (min-width 768px)
        padding-top 0
        margin-bottom 0
    .step--content
      display none
      &.step--active
        display block

  .stepper--footer
    display flex
    margin 0 -8px
    padding 15px 8px
    box-shadow 0 -3px 3px 0 rgba(32, 33, 36, 0.18)
    position fixed
    bottom 0
    left 0
    z-index 99
    width 100%
    background-color #fff
    overflow hidden
    @media (min-width 768px)
      justify-content flex-end
    &.non-sticky
      @media (min-width 768px)
        margin-top 30px
        width auto
        position relative

    button
      font-size 1.5rem
      width 100%
      padding 15px 0
      border 1px solid rgba(0, 0, 0, .5)
      outline none
      cursor pointer
      @media (min-width 768px)
        width auto
        min-width 150px
        margin-left 10px
      &:last-child
        margin-right 16px
        @media (min-width 768px)
          margin-right 20px
        &.non-sticky
          @media (min-width 768px)
            margin-right 0
      &.primary
        background-color steelblue
        color #fff

