:host
  .balance-field
    margin-bottom 15px
    font-size 1.5rem
    max-width 100%
    label
      margin-left 1%
      @media (min-width 768px)
        margin 0
    input
      font-size 1.5rem
      margin-top 5px
      width 96%
      margin 0 1%
      @media (min-width 768px)
        width auto
        margin 0

