:host
  .no-padding
    padding 8px 0
    padding-bottom 0
    @media (min-width 768px)
      padding 0.625em .75rem
  @media (min-width 768px)
    fieldset
      border none
      legend
        display none
