<app-bill-stepper (cancelClickEmitter)="onStepperCancelClicked($event)"
                  (continueClickEmitter)="onStepperContinueClicked($event)" [data]="stepper">
  <div one>
    <fieldset>
      <legend>{{stepper[0].title}}</legend>
      <app-file-upload (fileChangeEmitter)="onFileSelected($event)"></app-file-upload>
    </fieldset>
  </div>
  <div two *ngIf="billPreview.isLoaded || false">
    <fieldset class="no-padding no-margin">
      <legend>{{stepper[1].title}}</legend>
      <app-bill-preview [header]="billPreview.header"
                        [items]="billPreview.items | sortByDate"
                        (initBalanceChangeEmitter)="onInitBalanceChanged($event)"></app-bill-preview>
    </fieldset>
  </div>
  <div three *ngIf="billPreview.isLoaded || false">
    <fieldset class="no-padding no-margin">
      <legend>{{stepper[2].title}}</legend>
      <app-scalable-line-chart [data]="billPreview.items | sortByDate "
                               [width]="lineChartOpts.width"
                               [height]="lineChartOpts.height"></app-scalable-line-chart>
      <app-bill-table [isTile]="true" [header]="billPreview.header" [items]="billPreview.items" [editable]="true"
                      (editableCellChanged)="onAmountChanged($event)">
      </app-bill-table>
    </fieldset>
  </div>
</app-bill-stepper>



