:host
  .table
    overflow hidden
    background-color #24292e
    color #fff

    &--title
      font-size 1.2rem
      text-transform uppercase

    &--row
      display flex
      border-top 1px solid rgba(255, 255, 255, .3)

      &:nth-child(2n)
        background-color rgba(255, 255, 255, .05)
      &:not(.table--header):hover
        background-color rgba(255, 255, 255, .4)

    &--cell
      padding .75rem
      flex-grow 1
      flex-basis 0
      /deep/
        font-size 1rem
    &.tile
      background-color transparent
      .table--row
        display block
        background-color #24292e
        @media (min-width 768px)
          display flex
          border-radius 0
          &:nth-child(2n)
            background-color rgba(36, 41, 46, .9)
        @media (min-width 768px)
          margin-top 0
      .table--cell
        display block

        &.date:before, &.amount:before, &.summary:before
          position absolute
          left 15px
          top 50%
          margin-top -9px
          width 20px
          height 20px
          background-color #eee
          color #000
          text-indent 5px
          line-height 20px

        &.date:before
          content 'D'

        &.amount:before
          content 'A'

        &.summary:before
          content 'S'

        @media (min-width 768px)
          &:before
            display none
        /deep/
        font-size
          1.5rem
          padding-left 60px
          position relative

          @media (min-width 768px)
            font-size 1rem
            padding-left 15px

          input
            width 100%
            font-size 1.5rem
            @media (min-width 768px)
              font-size 1rem
      .table--header
        display none
        @media (min-width 768px)
          display flex
