:host
  /deep/
    .overlay
      fill none
      pointer-events all
    .line
      fill none
      stroke steelblue
      stroke-width 1
    .dot
      fill steelblue
      r 5
      &:hover
        r 5
    .focus
      circle
        fill steelblue
      text
        font-size .7rem
    .tooltip
      fill white
      stroke steelblue
